.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1400px;
  padding: 14px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(6px);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

  z-index: 1000;
}


.banner h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #00FF94;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}
.banner::before {
  content: "";
}

.banner:hover::before {
  content: "✦";
  position: absolute;
  color: #00BFFF;
  top: 23px;
  left: 13px;
  font-weight: bold;
}

.banner h1:hover {
  color: #00BFFF;
}


.navbar-center {
  display: flex;
  gap: 24px;
}

.navbar-center button {
  width: 180px;
  background: transparent;
  border: 2px solid #00BFFF;
  font-size: 1rem;
  color: #F1F1F1;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.navbar-center button:hover {
  background: #00BFFF;
  color: #121212; 
  transform: scale(1.05);
}

.steamAuth {
  display: flex;
  gap: 16px;
}

.steamAuth button {
  width: 200px;
  background: #00FF94;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.steamAuth button:hover {
  background: #00BFFF;
  color: #121212;
  transform: scale(1.05);
}


.steamAuth a button {
  background: #FF4C4C;
  color: #F1F1F1;
}

.steamAuth a button:hover {
  background: #FF6A6A;
  color: #121212;
}