footer {
  background-color: #121212;
  color: #F1F1F1;
  padding: 2rem 1rem;
  max-width: 1400px;
  margin: 200px auto 0;
  border-top: 2px solid #00FF94;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

h2.footerLogo {
  font-size: 1.6rem;
  color: #00BFFF;
  text-shadow: 0 0 5px #00BFFF;
  text-align: center;
}

h2.footerCopy {
  font-size: 0.9rem;
  color: #B0BEC5;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
  color: #00BFFF;
  text-align: center;
}

.footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-top ul li {
  margin-bottom: 0.5rem;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.footer-top ul li:hover {
  color: #00FF94;
  text-shadow: 0 0 6px #00FF94;
  transform: translateX(5px);
}

.navigate,
.contacts,
.policy {
  padding: 1rem;
  flex: 1 1 200px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contacts {
  margin-top: -48px;
}

.contacts a {
  text-decoration: none;
  color: #F1F1F1;
}
.contacts a:hover {
  color: #00FF94;
  text-shadow: 0 0 6px #00FF94;
  transform: translateX(5px);
}

.policy a {
  color: inherit;
  text-decoration: none;
}

.policy a:hover li {
  color: #FF4C4C;
  text-shadow: 0 0 6px #FF4C4C;
}