/* 🔳 Фоновый цвет	Тёмно-графитовый	                              #121212
🟩 Основной акцент	Ядовито-зелёный (под Dota-style highlight)	    #00FF94
🔘 Вторичный акцент	Синий с неоновым эффектом	                      #00BFFF
⚪️ Белый текст	Ярко-белый для контраста	                         #F1F1F1
⚫️ Тёмный текст	Серо-синий (вторичный текст)	                     #B0BEC5
🔲 Карточки/блоки	Графит с лёгким теневым отливом	                 #1E1E1E
🟥 Ошибка/предупрежд.	Ярко-красный/оранжевый	                     #FF4C4C
🟨 Уведомления	Янтарный для всплывающих подсказок	               #FFC107 */

body {
  background-color: #121212;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #F1F1F1;
  margin: 0;
  padding: 0;
  min-height: 100vh;   /* вместо фиксированной высоты */
  overflow-x: hidden;  /* горизонталь убираем */
}

h1 {
  color: #00FF94;
  font-weight: 700;
}

h1, h2 {
  font-weight: 700;
}

button {
  border: none;
  border-radius: 14px;
  height: 40px;
  width: 140px;
  font-weight: 600;
}

.resultInput {
  width: 600px;
  margin-top: 8px;
  height: 20px;
  max-height: 200px;
  word-break: normal;
  border: none;
  border-radius: 10px;
  padding-left: 6px;
}